html,body{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Karla', sans-serif;
}
h1,h2,h3,p{
  margin: 0;
}
.logo{
  font-size: 2rem;
  color: rgb(222, 130, 130);
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 5px 5px rgb(230, 201, 157);
  -webkit-text-stroke: 2px rgb(119, 10, 10);
}

header{
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/image/cinemaBig.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* TYPOGRAPHY  */
.card-title{
  font-size: 1.5rem;
}
.card-rate, .card-description{
  color: darkslategrey;
}


/* LAYOUT */
.container{
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-content{
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero-search{
  border: 2px solid rgb(119, 10, 10);
  border-radius: 5px;
  background: rgb(242, 161, 149);
  padding: 10px 5px;
  margin-top: 3.5rem;
}

.movies {
  height: 70vh;
  padding-top: 40px;
}

.movies-container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

/* COMPONENTS */
.btn{
  border-radius: 5px;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
.btn-myList{
  padding: 10px 15px;
  align-self: center;
  margin-right: 10px ;
  background: rgb(228,185,184);
  background: linear-gradient(90deg, rgba(228,185,184,1) 2%, rgba(247,228,169,1) 33%, rgba(255,253,69,1) 80%);
  cursor: pointer;
  border: 1px solid rgb(228, 185, 184);
}  
.btn-myList:hover, .btn-myList:focus{
  border: 1px solid rgb(119, 10, 10);
  opacity: .9;
}

.btn-search{
  padding: 10px 20px;
  margin:0 10px;
  border: 1px solid black;
  cursor: pointer;
}
.btn-search:hover, .btn-search:focus{
  background:  rgb(119, 10, 10);
  color: aliceblue;
}
.btn-add{
  padding: 0;
}
.btn-back{
  padding:.5rem .2rem;
}
.btn-back:hover, .btn-back:focus{
  border: 1px solid rgb(119, 10, 10);
  
}

.hero-search input[type='text']{
  padding: 10px 20px;
  width: 500px;
  font-family: inherit;
}

.hero-search{
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 150px;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  border-bottom: 1px rgb(119, 10, 10) solid;
}
.card-poster{
  text-align: center;
  flex: 10%
}
.card-content{
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
  overflow: hidden;
}
.card-content-header{
  display: flex;
  gap: 10px;
}
.card-content-action{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.card-poster img{
  width: 100%;
  height: 100%;
  min-width: 99px;
  max-width: 120px;
}

.btn-add{
  padding:.2rem .4rem;
  background: none;
  border: 1px solid lightslategray;
  cursor: pointer;
}
.btn-add:hover{
  background: rgb(228, 185, 184);
  background: linear-gradient(90deg, rgba(228, 185, 184, 1) 2%, rgba(247, 228, 169, 1) 33%, rgba(255, 253, 69, 1) 80%);
  border: 1px solid rgb(119, 10, 10);
  transition: border color .3s ease-in;
}

.movies-subtitle{
  padding: 1rem .5rem;
}
.movies-fav{
  color: rgb(222, 130, 130);
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 5px 5px rgb(241, 163, 45);
  -webkit-text-stroke: 2px rgb(119, 10, 10);
  border: 2px solid rgb(119, 10, 10);
  border-radius: 5px;
  padding: .5rem .45rem;

}
.moviesEmpty{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal {
  display: none;
  font-size: .7rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  padding: 1rem;
  color: inherit;
}
.modal-inner {
  width: 120px;
  margin: 0 auto;
}
.modal-add{
  background-color: darkseagreen;
  border-left: 10px solid green;
  color: aliceblue;
}
.modal-remove{
  background-color: rgb(222, 130, 130);
  border-left:10px solid rgb(119, 10, 10);
  color: aliceblue;
}